.vscode/**
.vscode-test/**
.github/**
out/**
src/**
scripts/**
*.vsix
assets/demo-comparison.gif
assets/demo-image-comparison.png
dist/mcpServer.js
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
